<?php
/**
 * DeliveryReportApi
 * PHP version 5
 *
 * @category Class
 * @package  Messente\Omnichannel
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Omnichannel API
 *
 * This is the beta version of Omnichannel API
 *
 * OpenAPI spec version: 0.0.1
 * Contact: messente@messente.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Messente\Omnichannel\Api;

use \Messente\Omnichannel\ApiClient;
use \Messente\Omnichannel\ApiException;
use \Messente\Omnichannel\Configuration;
use \Messente\Omnichannel\ObjectSerializer;

/**
 * DeliveryReportApi Class Doc Comment
 *
 * @category Class
 * @package  Messente\Omnichannel
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class DeliveryReportApi
{
    /**
     * API Client
     *
     * @var \Messente\Omnichannel\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Messente\Omnichannel\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Messente\Omnichannel\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Messente\Omnichannel\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Messente\Omnichannel\ApiClient $apiClient set the API client
     *
     * @return DeliveryReportApi
     */
    public function setApiClient(\Messente\Omnichannel\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation retrieveDeliveryReport
     *
     * @param string $omnimessageId UUID of the Omnimessage to for which the delivery report is to be retrieved (required)
     * @throws \Messente\Omnichannel\ApiException on non-2xx response
     * @return \Messente\Omnichannel\Model\DeliveryReportResponse
     */
    public function retrieveDeliveryReport($omnimessageId)
    {
        list($response) = $this->retrieveDeliveryReportWithHttpInfo($omnimessageId);
        return $response;
    }

    /**
     * Operation retrieveDeliveryReportWithHttpInfo
     *
     * @param string $omnimessageId UUID of the Omnimessage to for which the delivery report is to be retrieved (required)
     * @throws \Messente\Omnichannel\ApiException on non-2xx response
     * @return array of \Messente\Omnichannel\Model\DeliveryReportResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function retrieveDeliveryReportWithHttpInfo($omnimessageId)
    {
        // verify the required parameter 'omnimessageId' is set
        if ($omnimessageId === null) {
            throw new \InvalidArgumentException('Missing the required parameter $omnimessageId when calling retrieveDeliveryReport');
        }
        // parse inputs
        $resourcePath = "/omnimessage/{omnimessage_id}/status";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept([]);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // path params
        if ($omnimessageId !== null) {
            $resourcePath = str_replace(
                "{" . "omnimessage_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($omnimessageId),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Messente\Omnichannel\Model\DeliveryReportResponse',
                '/omnimessage/{omnimessage_id}/status'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Messente\Omnichannel\Model\DeliveryReportResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Messente\Omnichannel\Model\DeliveryReportResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 404:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Messente\Omnichannel\Model\ErrorResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
